############################
# npm
############################
node_modules
npm-debug.log


############################
# tmp, editor & OS files
############################
.tmp
.DS_STORE
*#
*~
.idea


############################
# Tests
############################
coverage

############################
# Development
############################
.env

############################
# Other
############################
.node_history

# Omit the build directory
lib/*
